
.venv
__pycache__/
.DS_Store
.env

# data outputs and ml models
audio
data
diarization
logs
runs
models
transcriptions
videos

# scratch area for resyncing db
update_queries

# Unit test / coverage reports
.coverage
coverage.xml
